.storybook-button {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border-radius: 0.5rem;
}
.storybook-button--primary {
  color: black;
  background-color: transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: solid 2px black;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 12px 24px;
}
